<!DOCTYPE html>
<html>
<head>
  <title>BAPP</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	  	<div class="navbar-header pull-right">
			<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			  Logged in as <strong><%= current_user.email %></strong>.
			  <%= link_to 'Me', user_path(current_user), :class => 'navbar-link' %> |
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
		 <div class="navbar-header">
		     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		       <span class="sr-only">Toggle navigation</span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		       <span class="icon-bar"></span>
		     </button>
		     <strong class="header">
		     
		        <%= link_to 'BandsAPP', bands_path, {class:'navbar-brand'} %>
		     
		     </strong>  
		   </div>
		 
		      <!-- Collect the nav links, forms, and other content for toggling -->
		   <div class="collapse navbar-collapse navbar-ex1-collapse">
		     <ul class="nav navbar-nav">
		 <!--       <li class="active"><a href="#">Link</a></li> -->
		       <li><%= link_to 'Bands', bands_path %></li>
		     <li><%= link_to 'Users', users_path %></li>
		     <li><%= link_to 'Events', events_path %></li>
		     
		    </ul>
		  </div><!-- /.navbar-collapse -->
	</nav>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



</body>
</html>
